In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('9visits.csv')

Вывод первых 20 строк датафрейма. Датасет содержит информацию о посещении магазина разными пользователями. В датасете представлена информация с какого устройства был выполнен вход на сайт, время, проведенное на сайте и источник, откуда был выполнен переход на сайт.

In [6]:
df.head(20)

,User Id,Region,Device,Channel,Session Start,Session End
0,981449118918,United States,iPhone,organic,2019-05-01 02:36:01,2019-05-01 02:45:01
1,278965908054,United States,iPhone,organic,2019-05-01 04:46:31,2019-05-01 04:47:35
2,590706206550,United States,Mac,organic,2019-05-01 14:09:25,2019-05-01 15:32:08
3,326433527971,United States,Android,TipTop,2019-05-01 00:29:59,2019-05-01 00:54:25
4,349773784594,United States,Mac,organic,2019-05-01 03:33:35,2019-05-01 03:57:40
5,90242400005,United States,iPhone,RocketSuperAds,2019-05-01 07:14:52,2019-05-01 08:19:56
6,43958116050,United States,Android,organic,2019-05-01 09:03:21,2019-05-01 10:08:39
7,185365244969,United States,iPhone,organic,2019-05-01 09:37:03,2019-05-01 10:00:43
8,446013509831,United States,iPhone,RocketSuperAds,2019-05-01 10:26:00,2019-05-01 10:59:17
9,100970711362,United States,Mac,TipTop,2019-05-01 04:39:53,2019-05-01 04:57:05
10,589320347244,United States,Mac,YRabbit,2019-05-01 18:39:23,2019-05-01 20:03:15
11,370455852550,United States,iPhone,organic,2019-05-01 14:44:30,2019-05-01 15:41:24
12,141837741427,United States,Mac,FaceBoom,2019-05-01 06:20:48,2019-05-01 06:54:33
13,924308873083,United States,iPhone,organic,2019-05-01 20:03:52,2019-05-01 20:19:34
14,774938424092,United States,iPhone,MediaTornado,2019-05-01 14:01:40,2019-05-01 14:29:24
15,244878945432,United States,iPhone,MediaTornado,2019-05-01 01:59:41,2019-05-01 02:21:50
16,157877034671,United States,Mac,organic,2019-05-01 10:25:16,2019-05-01 10:35:03
17,321335574694,United States,iPhone,YRabbit,2019-05-01 09:49:32,2019-05-01 10:10:02
18,524629398969,United States,Mac,organic,2019-05-01 17:06:46,2019-05-01 18:05:31
19,136226778935,United States,PC,organic,2019-05-01 19:34:45,2019-05-01 19:39:24

Оценка данных. Датасет имеет шесть столбцов, 309901 значение, один столбец имеет тип int, другие object.

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 309901 entries, 0 to 309900
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   User Id        309901 non-null  int64
 1   Region         309901 non-null  object
 2   Device         309901 non-null  object
 3   Channel        309901 non-null  object
 4   Session Start  309901 non-null  object
 5   Session End    309901 non-null  object
dtypes: int64(1), object(5)
memory usage: 14.2+ MB

Вывод названий столбцов

In [8]:
df.columns

Index(['User Id', 'Region', 'Device', 'Channel', 'Session Start',
       'Session End'],
      dtype='object')

Удаление пробелов между словами и приведение к нижнему регистру

In [9]:
df=df.rename(columns={'User Id' : 'User_Id'})

In [10]:
df=df.rename(columns={'Session Start' : 'Session_Start'})

In [11]:
df=df.rename(columns={'Session End' : 'Session_End'})

In [12]:
df.columns = df.columns.str.lower()

Проверка на пропуски

df.isna().sum()

In [ ]:
Проверка на явные дубликаты

In [15]:
df.duplicated().sum()

0

проверка на неявные дубликаты

In [22]:
df['session_end'].unique()

array(['2019-05-01T02:45:01.000000000', '2019-05-01T04:47:35.000000000',
       '2019-05-01T15:32:08.000000000', ...,
       '2019-10-31T01:41:31.000000000', '2019-10-31T07:37:55.000000000',
       '2019-10-31T15:17:04.000000000'], dtype='datetime64[ns]')

данные самого позднего перехода на сайт магазина в каждом из регионов

In [30]:
df_pivot=df.pivot_table(df,index=['region'], aggfunc = {'session_start': 'max'})
df_pivot

                    session_start
region
France        2019-10-31 23:43:07
Germany       2019-10-31 23:31:53
UK            2019-10-31 23:58:28
United States 2019-10-31 23:59:23

количество владельцев различных видов гаджетов

In [29]:
df_pivot=df.pivot_table(df,index=['device'], aggfunc = {'user_id': 'count'})
df_pivot

         user_id
device
Android    72590
Mac        62022
PC         62686
iPhone    112603

группировка, которая демонстрирует количество пользователей, перешедших на сайт с различных источников

In [31]:
df_group = df.groupby('channel')['user_id'].count()
df_group

channel
AdNonSense              6891
FaceBoom               49022
LeapBob                17013
MediaTornado            8878
OppleCreativeMedia     16794
RocketSuperAds         12724
TipTop                 54794
WahooNetBanner         20465
YRabbit                 9053
lambdaMediaAds          6507
organic               107760
Name: user_id, dtype: int64

In [20]:
df['device'].unique()

array(['iPhone', 'Mac', 'Android', 'PC'], dtype=object)

In [23]:
df['region'].unique()

array(['United States', 'UK', 'France', 'Germany'], dtype=object)

In [24]:
df['channel'].unique()

array(['organic', 'TipTop', 'RocketSuperAds', 'YRabbit', 'FaceBoom',
       'MediaTornado', 'AdNonSense', 'LeapBob', 'WahooNetBanner',
       'OppleCreativeMedia', 'lambdaMediaAds'], dtype=object)

In [25]:
df['user_id'].unique()

array([981449118918, 278965908054, 590706206550, ..., 519022174024,
       354394066496, 279181973476], dtype=int64)

Замена типа данных

In [27]:
df['session_start'] = pd.to_datetime(df['session_start'])
df['session_end'] = pd.to_datetime(df['session_end'])

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 309901 entries, 0 to 309900
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   user_id        309901 non-null  int64
 1   region         309901 non-null  object
 2   device         309901 non-null  object
 3   channel        309901 non-null  object
 4   session_start  309901 non-null  datetime64[ns]
 5   session_end    309901 non-null  datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(3)
memory usage: 14.2+ MB